# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
vendor/

# Node/React
node_modules/
dist/
build/
.DS_Store

# Secrets
.env
.env.*
!.env.example

# Editor
.idea/
.vscode/

# Docker
docker-compose.override.yml
.dockerignore