DB_USER=tatadana_user
DB_PASS=your_db_password
DB_NAME=tatadana
DB_HOST=db
DB_PORT=3306
DB_EXTERNAL_PORT=13306
DB_ROOT_PASS=your_root_password

JWTSECRET=your_secret_key_here
ACCESS_TOKEN_EXPIRE=3600
REFRESH_TOKEN_EXPIRE=86400

APP_ENV=development